<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Madproject">
        <activity
            android:name=".class_payements"
            android:exported="true">

        </activity>
        <activity android:name=".view_schedule" />
        <activity android:name=".updateschedule" />
        <activity android:name=".ClassIntroActivity" />
        <activity android:name=".incomecal" />
        <activity android:name=".Student_Managment" />
        <activity android:name=".ClassManagement" />
        <activity android:name=".MainActivity" />
        <activity android:name=".update_teacher" />
        <activity android:name=".view_teachers" />
        <activity android:name=".navigationDrawer" />
        <activity android:name=".aboutUs" />
        <activity android:name=".addStudent" />
        <activity android:name=".viewAndDeleteStudent" />
        <activity android:name=".TeacherManagement" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name=".studentProfile" />
        <activity android:name=".Hall_Main_Sign" />
        <activity android:name=".Hall_View_TDE" />
        <activity android:name=".Hall_View_DE" />
        <activity android:name=".Hall_view_Tdata" />
        <activity android:name=".Hall_View_Hdata" />
        <activity android:name=".Hall_Gallery" />
        <activity android:name=".Hall_Add" />
        <activity android:name=".Hall_Home" />
        <activity android:name=".Registration_page" />
        <activity android:name=".login_page" />
        <activity android:name=".Add_Teacher" >


        </activity>
    </application>

</manifest>